html, body, body > div, #root > div {
    min-height: 100%
}

body{
    font-family: "Oswald", sans-serif;
    margin: 0;
    min-height: 100%;
}

*::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

*::-webkit-scrollbar {
    width: 0.4em;
}

*::-webkit-scrollbar-thumb {
    background-color: #141414;
    border-radius: 5px;
}